
$global-padding:20px;
$global-padding-short:10px;
$global-gap:20px;
$global-gap-short:10px;
$bg-color:rgba(140, 138, 138, 0.108);
$color-secundary: rgb(17, 17, 217); 
$border :0.1px rgba(0, 0, 0, 0.147) solid;
